@import url('https://fonts.googleapis.com/css2?family=Anek+Gujarati:wght@100..800&family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

.divCarousel {
  display: flex;
  margin: 2%;
  padding: 2%;
  padding-block: 0;
  flex-flow: row wrap;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  border-radius: 9px;
  margin-top: 7rem;
  background-color: white;
  overflow: hidden; /* Evita que se salgan las imágenes */
}

.divCarousel img {
  width: 100%; /* Asegura que las imágenes ocupen todo el ancho del contenedor */
  height: 100%; /* Asegura que las imágenes ocupen todo el alto del contenedor */
  object-fit: cover; /* Ajusta la imagen para cubrir el contenedor sin deformarse */
}


#poco {
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 80% !important;

  h4 {
    font-family: "Secular One", sans-serif;
    font-size: 40px;
    color: #333;
  }

  p {
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: #666;
  }

}

#xiaomi {
  position: absolute;
  top: 55%;
  left: 25%;
  transform: translate(-50%, -50%);
  text-align: center;

  h4 {
    font-family: "Anek Gujarati", sans-serif;
    font-size: 40px;
    color: #333;
  }

  p {
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: #666;
  }

}

#redmi {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  width: 40% !important;
  height: auto;


  h4 {
    font-family: "Anek Gujarati", sans-serif;
    font-size: 40px;
    color: #333;

  }

  p {
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: #666;
  }
}

h1 {
  font-family: "Anek Gujarati", sans-serif;
  font-size: 3rem !important;
  font-style: normal;
  color: #ff7d00 !important;

}

@media screen and (max-width: 768px) {
  h4 {
    font-size: 1.5rem !important; /* Reducción del tamaño para pantallas más pequeñas */
  }
  p {
    font-size: 0.8rem !important; /* Reducción del tamaño para pantallas más pequeñas */
  }
}
