p a:hover{
    
    color: white !important;
}
footer{
    background-color: #ff7d00;
}
hr{
    color: rgb(255, 255, 255) !important;
}

@media (max-width: 767px) {
    img {
      width: 6rem;
    }
  }

footer{
    margin-top: 19rem;
}